.table-color{
    background:#fff;
    color: black;
}
.title-user{
    text-align: center;
    padding: .5em;

}
.calendar-table, .page-content-wrapper{
    margin:0px 10px;
    padding: 15px;
    background: #fff;
}
.calendar-table table tr td{
    color: black;
}
.calendar-table .pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
