.table-color{
    background:#fff;
    color: black;
}
.title-user{
    text-align: center;
    padding: .5em;
}
.calendar-table, .page-content-wrapper{}
.title-modal{
    color: red;
    text-align: center;
}
.calendar-table{
    margin:0px 10px;
    padding: 15px;
    background: #fff;
}
.calendar-table table tr td{
    color: black;
}
.calendar-table .pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-padding{
    padding-bottom: 2em;
}
.calendar-table .list-calendar-action {
    display: flex;
}
.calendar-table .list-calendar-action .btn-edit {
    margin: 0px 4px;
}
.form-blood{
    padding: 15px;
}
.delete-dialog-footer-custom{
    padding: 5px 15px;
    border-top: none;
}
.editUser{
    color: black;
    padding: 1em;
}
